---
title: Referrals
description: Add a referrals bar with recent graphics stories.
slug: referrals
---

<script>
  import DemoContainer from '../_docs/DemoContainer/index.svelte';
  import Referrals from './index.svelte';
</script>

<section>

## {title}

{description}

</section>

```svelte
<script>
  import { Referrals } from '@reuters-graphics/graphics-svelte-components';
</script>

<Referrals />
```

<DemoContainer>
  <Referrals />
</DemoContainer>
