---
title: Footer
description: Add a bottom footer bar to the page.
slug: footer
---

<script>
  import DemoContainer from '../_docs/DemoContainer/index.svelte';
  import Footer from './index.svelte';
</script>

<section>

## {title}

{description}

</section>

```svelte
<script>
  import { Footer } from '@reuters-graphics/graphics-svelte-components';
</script>

<Footer />
```

<DemoContainer>
  <Footer />
</DemoContainer>
