---
title: Nav
description: Add a top-level nav bar to the page.
slug: nav
---

<section>

## {title}

{description}

</section>

```svelte
<script>
  import { Nav } from '@reuters-graphics/graphics-svelte-components';
</script>

<Nav />
```
