#g-ai-linechart-box.svelte-c258ei.svelte-c258ei,
#g-ai-linechart-box.svelte-c258ei .g-artboard.svelte-c258ei {
  margin: 0 auto;
}
#g-ai-linechart-box.svelte-c258ei p.svelte-c258ei {
  margin: 0;
}
#g-ai-linechart-box.svelte-c258ei .g-aiAbs.svelte-c258ei {
  position: absolute;
}
#g-ai-linechart-box.svelte-c258ei .g-aiImg.svelte-c258ei {
  position: absolute;
  top: 0;
  display: block;
  width: 100% !important;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
#g-ai-linechart-box.svelte-c258ei .g-aiPointText p.svelte-c258ei {
  white-space: nowrap;
}
#g-ai-linechart-xs.svelte-c258ei.svelte-c258ei,
#g-ai-linechart-sm.svelte-c258ei.svelte-c258ei,
#g-ai-linechart-md.svelte-c258ei.svelte-c258ei {
  position: relative;
  overflow: hidden;
}
#g-ai-linechart-md.svelte-c258ei p.svelte-c258ei {
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 18px;
  height: auto;
  opacity: 1;
  letter-spacing: 0em;
  font-size: 15px;
  text-align: left;
  color: #000;
  text-transform: none;
  padding-bottom: 0;
  padding-top: 0;
  mix-blend-mode: normal;
  font-style: normal;
  position: static;
}
#g-ai-linechart-md.svelte-c258ei .g-pstyle0.svelte-c258ei {
  height: 18px;
}
#g-ai-linechart-md.svelte-c258ei .g-pstyle1.svelte-c258ei {
  font-weight: 700;
  line-height: 20px;
  height: 20px;
  font-size: 17px;
  color: #74c476;
}
#g-ai-linechart-md.svelte-c258ei .g-pstyle2.svelte-c258ei {
  font-weight: 700;
  line-height: 20px;
  height: 20px;
  font-size: 17px;
  color: #3182bd;
}
#g-ai-linechart-md.svelte-c258ei .g-pstyle3.svelte-c258ei {
  font-weight: 700;
  line-height: 20px;
  height: 20px;
  font-size: 17px;
  color: #f4c100;
}
#g-ai-linechart-lg.svelte-c258ei.svelte-c258ei,
#g-ai-linechart-xl.svelte-c258ei.svelte-c258ei {
  position: relative;
  overflow: hidden;
}
