#g-step-1-box.svelte-16iuhg.svelte-16iuhg,
#g-step-1-box.svelte-16iuhg .g-artboard.svelte-16iuhg {
  margin: 0 auto;
}
#g-step-1-box.svelte-16iuhg .g-aiImg.svelte-16iuhg {
  position: absolute;
  top: 0;
  display: block;
  width: 100% !important;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
#g-step-1-xl.svelte-16iuhg.svelte-16iuhg,
#g-step-1-lg.svelte-16iuhg.svelte-16iuhg,
#g-step-1-md.svelte-16iuhg.svelte-16iuhg,
#g-step-1-sm.svelte-16iuhg.svelte-16iuhg,
#g-step-1-xs.svelte-16iuhg.svelte-16iuhg {
  position: relative;
  overflow: hidden;
}
