div.background-before.svelte-1v5an3q.svelte-1v5an3q {
  position: absolute;
  top: 0;
  right: 0;
}
div.background-before.svelte-1v5an3q ul.svelte-1v5an3q {
  list-style-type: none;
  text-align: right;
}
