ul.svelte-1txfm32 {
  list-style-type: none;
}
li.svelte-1txfm32 {
  font-size: 1.2rem;
}
.default.svelte-1txfm32 {
  color: #006d77;
}
.separator.svelte-1txfm32 {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #666;
  border-radius: 50%;
  margin: 0 5px;
  transform: translateY(-2.5px);
}
