.custom-position .photo.before-after .overlay-container {
  bottom: 0;
}
.caption.svelte-10cpbvu.svelte-10cpbvu {
  margin: 5px 0;
  font-size: 0.8rem;
}
.overlay.svelte-10cpbvu.svelte-10cpbvu {
  color: #fff;
  max-width: 100%;
  padding: 15px;
  background: rgba(0, 0, 0, 0.2);
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.overlay.short.svelte-10cpbvu.svelte-10cpbvu {
  max-width: 200px;
}
.overlay.short.after.svelte-10cpbvu.svelte-10cpbvu {
  text-align: left;
}
.overlay.short.svelte-10cpbvu p.svelte-10cpbvu {
  font-size: 0.9rem;
  line-height: 1rem;
  margin-bottom: 1rem;
}
.overlay.short.svelte-10cpbvu p.svelte-10cpbvu:last-child {
  margin-bottom: 0;
}
.overlay.svelte-10cpbvu h6.svelte-10cpbvu,
.overlay.svelte-10cpbvu p.svelte-10cpbvu {
  color: #fff;
  margin: 0;
}
.overlay.after.svelte-10cpbvu.svelte-10cpbvu {
  text-align: right;
}
