.step-cont.svelte-1e3wp2r.svelte-1e3wp2r {
  height: 400px;
  position: relative;
}
.step-cont.svelte-1e3wp2r .step.svelte-1e3wp2r {
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 0;
}
.step.svelte-13llgxe {
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  height: 400px;
}
section.note {
  margin: 2rem auto;
  padding: 10px;
  border-left: 10px solid #999;
}
section.note p {
  font-size: 0.95rem;
}
section.note p:last-child {
  margin-bottom: 0;
}
li {
  margin-bottom: 2px;
}
#scroller-example-4 .step-foreground {
  max-width: 400px;
  background-color: #333;
}
#scroller-example-4 .step-foreground h4,
#scroller-example-4 .step-foreground p {
  color: #fff;
}
