.spin.svelte-1w3t65e {
  -webkit-animation: svelte-1w3t65e-spin 2s 0s infinite linear;
  animation: svelte-1w3t65e-spin 2s 0s infinite linear;
}
.pulse.svelte-1w3t65e {
  -webkit-animation: svelte-1w3t65e-spin 1s infinite steps(8);
  animation: svelte-1w3t65e-spin 1s infinite steps(8);
}
@-webkit-keyframes svelte-1w3t65e-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes svelte-1w3t65e-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
div.svelte-715e2e.svelte-715e2e {
  position: fixed;
  bottom: 5px;
  left: 10px;
  font-size: 18px;
}
div.svelte-715e2e a.svelte-715e2e {
  color: #ccc;
}
div.svelte-715e2e a.svelte-715e2e:hover {
  color: #666;
}
#resizer.svelte-1o1jkdv.svelte-1o1jkdv.svelte-1o1jkdv {
  width: 250px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
}
#resizer.svelte-1o1jkdv .slider.svelte-1o1jkdv.svelte-1o1jkdv {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#resizer.svelte-1o1jkdv .slider.svelte-1o1jkdv > div.svelte-1o1jkdv,
#resizer.svelte-1o1jkdv .slider button.svelte-1o1jkdv.svelte-1o1jkdv {
  display: inline-block;
}
#resizer.svelte-1o1jkdv div.label.svelte-1o1jkdv.svelte-1o1jkdv {
  font-family: monospace;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  transition: opacity 0.2s;
  color: gray;
  background-color: #fffc;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 5px;
}
#resizer.svelte-1o1jkdv button.icon.svelte-1o1jkdv.svelte-1o1jkdv {
  font-size: 14px;
  line-height: 14px;
  color: #bbb;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
#resizer.svelte-1o1jkdv button.icon.svelte-1o1jkdv.svelte-1o1jkdv:active,
#resizer.svelte-1o1jkdv button.icon.svelte-1o1jkdv.svelte-1o1jkdv:focus {
  outline: none;
}
#resizer.svelte-1o1jkdv button.icon.svelte-1o1jkdv.svelte-1o1jkdv:hover {
  color: #999;
}
#resizer.svelte-1o1jkdv button.icon.svelte-1o1jkdv.svelte-1o1jkdv:active {
  transform: translate(1px, 1px);
}
#resizer.svelte-1o1jkdv button.icon[disabled].svelte-1o1jkdv.svelte-1o1jkdv {
  color: #ccc;
  cursor: default;
}
#resizer.svelte-1o1jkdv
  button.icon[disabled].svelte-1o1jkdv.svelte-1o1jkdv:hover {
  color: #ccc;
}
#resizer.svelte-1o1jkdv
  button.icon[disabled].svelte-1o1jkdv.svelte-1o1jkdv:active {
  transform: translate(0);
}
#resizer.svelte-1o1jkdv button.icon.left.svelte-1o1jkdv.svelte-1o1jkdv {
  text-align: right;
  padding-right: 3px;
}
#resizer.svelte-1o1jkdv button.icon.right.svelte-1o1jkdv.svelte-1o1jkdv {
  padding-left: 6px;
  text-align: left;
}
#resizer.svelte-1o1jkdv div.slider-container.svelte-1o1jkdv.svelte-1o1jkdv {
  width: 90px;
  height: 20px;
  position: relative;
}
#resizer.svelte-1o1jkdv
  div.slider-container
  div.track.svelte-1o1jkdv.svelte-1o1jkdv {
  height: 4px;
  width: 100%;
  position: absolute;
  border-radius: 2px;
  top: calc(50% - 2px);
  background-color: #d3d3d3;
}
.handle.svelte-1o1jkdv.svelte-1o1jkdv.svelte-1o1jkdv {
  z-index: 30;
  width: 10px;
  height: 20px;
  cursor: ew-resize;
  background: #bbb;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  border-radius: 4px;
  border: 1px solid grey;
  top: calc(50% - 10px);
  box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
}
.handle.svelte-1o1jkdv.svelte-1o1jkdv.svelte-1o1jkdv:active,
.handle.svelte-1o1jkdv.svelte-1o1jkdv.svelte-1o1jkdv:focus {
  outline: none;
}
header.svelte-97ib6o.svelte-97ib6o {
  font-family: Knowledge, Source Sans Pro, Arial, sans-serif;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0;
}
nav.svelte-97ib6o.svelte-97ib6o {
  text-align: center;
  margin: 0 auto 20px;
  max-width: 900px;
}
nav.svelte-97ib6o button.svelte-97ib6o {
  margin: 0 4px 5px;
  background-color: transparent;
  border: 0;
  color: #999;
  padding: 2px;
  cursor: pointer;
}
nav.svelte-97ib6o button.active.svelte-97ib6o {
  border-bottom: 2px solid #666;
  color: #666;
}
nav.svelte-97ib6o button.svelte-97ib6o:focus {
  outline: none;
}
nav.svelte-97ib6o button a.svelte-97ib6o {
  color: #bbb;
  font-size: 12px;
}
nav.svelte-97ib6o button a.svelte-97ib6o:hover {
  color: #666;
}
#frame-parent.svelte-97ib6o.svelte-97ib6o {
  border: 1px solid #ddd;
  margin: 0 auto;
  width: var(--width);
}
div#home-link.svelte-97ib6o.svelte-97ib6o {
  position: fixed;
  bottom: 5px;
  left: 10px;
  font-size: 18px;
}
div#home-link.svelte-97ib6o a.svelte-97ib6o {
  color: #ccc;
}
div#home-link.svelte-97ib6o a.svelte-97ib6o:hover {
  color: #666;
}
.placeholder.svelte-1g1o650 {
  background-color: #ccc;
  width: 100%;
}
.image.svelte-1xxrkf0 {
  width: 100%;
  padding-bottom: 50%;
  background-size: cover;
  background-position: 50%;
}
figure.svelte-1dfql50 {
  text-align: center;
}
.sharetool.active.svelte-d6yoah.svelte-d6yoah {
  bottom: 10px;
}
.sharetool.svelte-d6yoah.svelte-d6yoah {
  position: fixed;
  bottom: -5rem;
  right: 10px;
  transition: all 0.2s;
  z-index: 9999;
}
.sharetool.svelte-d6yoah button.svelte-d6yoah {
  background: #333;
  color: #fff;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.25rem;
  text-align: center;
  height: 2.25rem;
  width: 2.25rem;
  padding: 2px 2px 2px 1px;
  outline: none !important;
  transition: color 0.2s;
  cursor: pointer;
}
.sharetool.svelte-d6yoah button.svelte-d6yoah:active {
  transform: translate(1px, 1px);
}
.sharetool.svelte-d6yoah button.svelte-d6yoah:disabled {
  background: white;
  color: #ddd;
  cursor: default;
  box-shadow: none;
  pointer-events: none;
}
.drawer.svelte-d6yoah.svelte-d6yoah {
  width: calc(2.25rem + 4px);
  overflow-x: hidden;
  transition: width 0.2s;
  white-space: nowrap;
  padding: 2px;
}
.drawer.active.svelte-d6yoah.svelte-d6yoah {
  width: calc(7.25rem + 4px);
}
@media only screen and (max-width: 600px) {
  .sharetool.svelte-d6yoah button.svelte-d6yoah {
    font-size: 1.75rem;
    height: 3rem;
    width: 3rem;
    padding-top: 2px;
  }
  .drawer.svelte-d6yoah.svelte-d6yoah {
    width: calc(3rem + 4px);
  }
  .drawer.active.svelte-d6yoah.svelte-d6yoah {
    width: calc(9.5rem + 4px);
  }
}
.well.svelte-kfp841,
.chatter-container.svelte-kfp841 {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}
.well.wide.svelte-kfp841,
.wide.chatter-container.svelte-kfp841 {
  max-width: 930px;
}
.well.wider.svelte-kfp841,
.wider.chatter-container.svelte-kfp841 {
  max-width: 1200px;
}
.well.widest.svelte-kfp841,
.widest.chatter-container.svelte-kfp841 {
  max-width: 100%;
}
.well.fluid.svelte-kfp841,
.fluid.chatter-container.svelte-kfp841 {
  width: 100vw;
  margin-left: -15px;
  max-width: none;
}
.visually-hidden.svelte-kfp841 {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  white-space: nowrap !important;
  border: 0 !important;
}
svelte-scroller-outer.svelte-1yjh2jm {
  display: block;
  position: relative;
}
svelte-scroller-background.svelte-1yjh2jm {
  display: block;
  position: relative;
  width: 100%;
}
svelte-scroller-foreground.svelte-1yjh2jm {
  display: block;
  position: relative;
  z-index: 2;
}
svelte-scroller-foreground.svelte-1yjh2jm:after {
  content: ' ';
  display: block;
  clear: both;
}
svelte-scroller-background-container.svelte-1yjh2jm {
  display: block;
  position: absolute;
  width: 100%;
  max-width: 100%;
  pointer-events: none;
  will-change: transform;
}
.step-background.svelte-va4hxg {
  width: 100%;
  position: absolute;
  transition: 0.5s opacity ease;
}
.step-background.hidden.svelte-va4hxg {
  opacity: 0;
}
section.svelte-20kuyz.svelte-20kuyz {
  height: 100vh;
  width: initial;
  max-width: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
section.svelte-20kuyz .step-foreground.svelte-20kuyz {
  max-width: 550px;
  width: 100%;
  padding: 1.2rem 30px;
  background: rgba(255, 255, 255, 0.8);
}
section.svelte-20kuyz .step-foreground.svelte-20kuyz p:last-child {
  margin-bottom: 0;
}
div.embedded-foreground.svelte-kywsd6 p:last-child {
  margin-bottom: 0;
}
.scroller-container.svelte-5wwrxt.svelte-5wwrxt {
  margin-bottom: 5rem;
  width: calc(100% + 30px);
  margin-left: -15px;
  max-width: initial;
}
.scroller-container.embedded.svelte-5wwrxt.svelte-5wwrxt {
  padding: 0 15px;
}
div.background.svelte-5wwrxt.svelte-5wwrxt {
  min-height: 100vh;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
}
div.background.left.svelte-5wwrxt.svelte-5wwrxt {
  width: 50%;
  float: left;
}
@media (max-width: 1200px) {
  div.background.left.svelte-5wwrxt.svelte-5wwrxt {
    justify-content: center;
    width: 100%;
    float: initial;
  }
}
div.background.right.svelte-5wwrxt.svelte-5wwrxt {
  width: 50%;
  float: right;
}
@media (max-width: 1200px) {
  div.background.right.svelte-5wwrxt.svelte-5wwrxt {
    justify-content: center;
    width: 100%;
    float: initial;
  }
}
div.background.svelte-5wwrxt div.scroller-graphic-well.svelte-5wwrxt {
  padding: 0 15px;
  width: 100%;
}
div.background.svelte-5wwrxt
  div.scroller-graphic-well
  section.graphic.background-container.svelte-5wwrxt {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
div.background.svelte-5wwrxt
  div.scroller-graphic-well
  section.graphic.background-container.fluid.svelte-5wwrxt {
  margin: 0 0 0 -15px;
}
div.foreground.svelte-5wwrxt.svelte-5wwrxt {
  width: 100%;
}
div.foreground.right.svelte-5wwrxt.svelte-5wwrxt {
  width: 50%;
  float: right;
}
@media (max-width: 1200px) {
  div.foreground.right.svelte-5wwrxt.svelte-5wwrxt {
    width: 100%;
    float: initial;
  }
}
div.foreground.left.svelte-5wwrxt.svelte-5wwrxt {
  width: 50%;
  float: left;
}
@media (max-width: 1200px) {
  div.foreground.left.svelte-5wwrxt.svelte-5wwrxt {
    width: 100%;
    float: initial;
  }
}
div.background.svelte-e2e2s9 {
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
}
figure.before-after-container.svelte-1fkuva.svelte-1fkuva {
  overflow: hidden;
  position: relative;
  box-sizing: content-box;
  margin: 0 auto;
}
figure.before-after-container.svelte-1fkuva img.svelte-1fkuva {
  top: 0;
  left: 0;
  z-index: 20;
  display: block;
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
}
figure.before-after-container.svelte-1fkuva img.after.svelte-1fkuva {
  z-index: 21;
}
figure.before-after-container.svelte-1fkuva img.before.svelte-1fkuva {
  z-index: 22;
}
figure.before-after-container.svelte-1fkuva .overlay-container.svelte-1fkuva {
  position: absolute;
}
figure.before-after-container.svelte-1fkuva
  .overlay-container.before.svelte-1fkuva {
  left: 0;
  z-index: 23;
}
figure.before-after-container.svelte-1fkuva
  .overlay-container.after.svelte-1fkuva {
  right: 0;
  z-index: 21;
}
.handle.svelte-1fkuva.svelte-1fkuva {
  z-index: 30;
  width: 40px;
  height: 40px;
  cursor: move;
  background: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  border-radius: 50px;
  top: calc(50% - 20px);
  border: 4px solid var(--before-after-handle-colour);
  opacity: var(--before-after-handle-inactive-opacity, 0.6);
}
.handle.svelte-1fkuva.svelte-1fkuva:hover,
.handle.svelte-1fkuva.svelte-1fkuva:active,
.handle.svelte-1fkuva.svelte-1fkuva:focus {
  opacity: 1;
}
.handle.svelte-1fkuva.svelte-1fkuva:before,
.handle.svelte-1fkuva.svelte-1fkuva:after {
  content: '';
  height: 9999px;
  position: absolute;
  left: calc(50% - 2px);
  border: 2px solid var(--before-after-handle-colour);
}
.handle.svelte-1fkuva.svelte-1fkuva:before {
  top: 40px;
}
.handle.svelte-1fkuva.svelte-1fkuva:after {
  bottom: 40px;
}
.handle.svelte-1fkuva .arrow-right.svelte-1fkuva,
.handle.svelte-1fkuva .arrow-left.svelte-1fkuva {
  width: 0;
  height: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.handle.svelte-1fkuva .arrow-right.svelte-1fkuva {
  left: 19px;
  bottom: 13px;
  border-left: 10px solid var(--before-after-handle-colour);
}
.handle.svelte-1fkuva .arrow-left.svelte-1fkuva {
  left: 3px;
  top: 7px;
  border-right: 10px solid var(--before-after-handle-colour);
}
.well.svelte-7yl63n,
.chatter-container.svelte-7yl63n {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}
.well.wide.svelte-7yl63n,
.wide.chatter-container.svelte-7yl63n {
  max-width: 930px;
}
.well.wider.svelte-7yl63n,
.wider.chatter-container.svelte-7yl63n {
  max-width: 1200px;
}
.well.widest.svelte-7yl63n,
.widest.chatter-container.svelte-7yl63n {
  max-width: 100%;
}
.well.fluid.svelte-7yl63n,
.fluid.chatter-container.svelte-7yl63n {
  width: 100vw;
  margin-left: -15px;
  max-width: none;
}
.datawrapper-chart.svelte-7yl63n {
  margin: auto;
}
nav.svelte-ca3v86 {
  margin-bottom: 3rem;
}
div#overlay.svelte-253v2x.svelte-253v2x {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
nav.svelte-253v2x.svelte-253v2x {
  background-color: #333;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  transition: all 0.25s;
  z-index: 99999999999;
}
nav.open.svelte-253v2x.svelte-253v2x {
  left: 0;
}
nav.open.svelte-253v2x div.nav-container button.svelte-253v2x {
  transform: rotate(90deg);
  right: -25px;
  color: #999;
}
nav.open.svelte-253v2x div.nav-container button.svelte-253v2x:hover {
  right: -40px;
}
nav.svelte-253v2x div.nav-container.svelte-253v2x {
  position: relative;
  padding: 20px 30px 10px 10px;
  height: 100vh;
}
nav.svelte-253v2x div.nav-container button.svelte-253v2x {
  transform: rotate(0);
  transition: all 0.5s;
  position: absolute;
  right: -28px;
  top: 59px;
  font-size: 3rem;
  border: 0px;
  padding: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  border-radius: 50%;
  background: transparent;
  color: #ccc;
}
nav.svelte-253v2x div.nav-container button.svelte-253v2x:hover {
  right: -50px;
  color: #999;
}
nav.svelte-253v2x ul.svelte-253v2x {
  margin: 0;
  list-style-type: none;
  padding: 0;
  font-family: Knowledge, Source Sans Pro, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
}
nav.svelte-253v2x ul a.svelte-253v2x {
  color: #ccc;
  text-decoration: none !important;
}
nav.svelte-253v2x ul hr.svelte-253v2x {
  border-top: 1px solid #999;
}
nav.svelte-253v2x ul li.svelte-253v2x {
  transition: all 0.4s;
}
nav.svelte-253v2x ul li.svelte-253v2x:hover {
  padding-left: 10px;
}
nav.svelte-253v2x ul li.stationary.svelte-253v2x:hover {
  padding-left: 0;
}
pre[class*='language-'],
code[class*='language-'] {
  color: #5c6e74;
  font-size: 13px;
  text-shadow: none;
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  box-shadow: none;
}
pre[class*='language-']::selection,
code[class*='language-']::selection,
pre[class*='language-']::mozselection,
code[class*='language-']::mozselection {
  text-shadow: none;
  background: #b3d4fc;
}
@media print {
  pre[class*='language-'],
  code[class*='language-'] {
    text-shadow: none;
  }
}
pre[class*='language-'] {
  padding: 1em 1.5em;
  margin: 3em auto;
  overflow: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 700px;
}
:not(pre) > code[class*='language-'] {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  color: #db4c69;
  background: #f9f2f4;
}
.namespace {
  opacity: 0.7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #93a1a1;
}
.token.punctuation {
  color: #999;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: #ffffff;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}
.token.function {
  color: #dd4a68;
}
.token.regex,
.token.important,
.token.variable {
  color: #e90;
}
.token.important,
.token.bold {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
pre[data-line] {
  position: relative;
}
pre[class*='language-'] > code[class*='language-'] {
  position: relative;
  z-index: 1;
}
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #eeeeee;
  box-shadow: inset 5px 0 #bbb;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
body {
  background-color: #eee;
}
#svelte-app {
  padding-bottom: 6rem;
}
section.note {
  margin: 2rem auto;
  padding: 10px;
  border-left: 10px solid #999;
}
section.note p {
  font-size: 0.95rem;
}
section.note p:last-child {
  margin-bottom: 0;
}
section.note p > code,
section.note li > code {
  font-size: 0.9rem;
}
