---
title: PymChild
description: A Pym.js child instance for embeddables.
slug: pym-child
---

<section>

## {title}

{description}

</section>

```svelte
<script>
  import { PymChild } from '@reuters-graphics/graphics-svelte-components';
</script>

<PymChild polling="{500}" />
```
