div.svelte-715e2e.svelte-715e2e {
  position: fixed;
  bottom: 5px;
  left: 10px;
  font-size: 18px;
}
div.svelte-715e2e a.svelte-715e2e {
  color: #ccc;
}
div.svelte-715e2e a.svelte-715e2e:hover {
  color: #666;
}
header.svelte-qk635w.svelte-qk635w {
  font-family: Knowledge, Source Sans Pro, Arial, sans-serif;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0;
}
nav.svelte-qk635w.svelte-qk635w {
  text-align: center;
  margin-bottom: 20px;
}
nav.svelte-qk635w button.svelte-qk635w {
  margin: 0 4px;
  background-color: transparent;
  border: 0;
  color: #999;
  padding: 2px;
  cursor: pointer;
}
nav.svelte-qk635w button.active.svelte-qk635w {
  border-bottom: 2px solid #666;
  color: #666;
}
nav.svelte-qk635w button.svelte-qk635w:focus {
  outline: none;
}
#frame-parent.svelte-qk635w.svelte-qk635w {
  border: 1px solid #ddd;
  margin: 0 auto;
  width: var(--width);
}
.resizer.svelte-qk635w.svelte-qk635w {
  padding: 10px;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 4px;
}
.resizer.svelte-qk635w input.svelte-qk635w {
  outline: none;
  font-family: monospace;
}
.resizer.svelte-qk635w button.svelte-qk635w {
  border: 0;
  color: #ccc;
  cursor: pointer;
  outline: none;
}
.resizer.svelte-qk635w button.svelte-qk635w:disabled {
  color: #fff;
}
.resizer.svelte-qk635w button.svelte-qk635w:hover {
  color: #999;
}
.resizer.svelte-qk635w button.svelte-qk635w:active {
  color: #ff8000;
}
div#home-link.svelte-qk635w.svelte-qk635w {
  position: fixed;
  bottom: 5px;
  left: 10px;
  font-size: 18px;
}
div#home-link.svelte-qk635w a.svelte-qk635w {
  color: #ccc;
}
div#home-link.svelte-qk635w a.svelte-qk635w:hover {
  color: #666;
}
.placeholder.svelte-1g1o650 {
  background-color: #ccc;
  width: 100%;
}
.image.svelte-13n58v0 {
  width: 100%;
  padding-bottom: 50%;
  background-size: cover;
  background-position: 50%;
}
figure.svelte-1dfql50 {
  text-align: center;
}
.sharetool.active.svelte-d6yoah.svelte-d6yoah {
  bottom: 10px;
}
.sharetool.svelte-d6yoah.svelte-d6yoah {
  position: fixed;
  bottom: -5rem;
  right: 10px;
  transition: all 0.2s;
  z-index: 9999;
}
.sharetool.svelte-d6yoah button.svelte-d6yoah {
  background: #333;
  color: #fff;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.25rem;
  text-align: center;
  height: 2.25rem;
  width: 2.25rem;
  padding: 2px 2px 2px 1px;
  outline: none !important;
  transition: color 0.2s;
  cursor: pointer;
}
.sharetool.svelte-d6yoah button.svelte-d6yoah:active {
  transform: translate(1px, 1px);
}
.sharetool.svelte-d6yoah button.svelte-d6yoah:disabled {
  background: white;
  color: #ddd;
  cursor: default;
  box-shadow: none;
  pointer-events: none;
}
.drawer.svelte-d6yoah.svelte-d6yoah {
  width: calc(2.25rem + 4px);
  overflow-x: hidden;
  transition: width 0.2s;
  white-space: nowrap;
  padding: 2px;
}
.drawer.active.svelte-d6yoah.svelte-d6yoah {
  width: calc(7.25rem + 4px);
}
@media only screen and (max-width: 600px) {
  .sharetool.svelte-d6yoah button.svelte-d6yoah {
    font-size: 1.75rem;
    height: 3rem;
    width: 3rem;
    padding-top: 2px;
  }
  .drawer.svelte-d6yoah.svelte-d6yoah {
    width: calc(3rem + 4px);
  }
  .drawer.active.svelte-d6yoah.svelte-d6yoah {
    width: calc(9.5rem + 4px);
  }
}
.step-background.svelte-va4hxg {
  width: 100%;
  position: absolute;
  transition: 0.5s opacity ease;
}
.step-background.hidden.svelte-va4hxg {
  opacity: 0;
}
section.svelte-20kuyz.svelte-20kuyz {
  height: 100vh;
  width: initial;
  max-width: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
section.svelte-20kuyz .step-foreground.svelte-20kuyz {
  max-width: 550px;
  width: 100%;
  padding: 1.2rem 30px;
  background: rgba(255, 255, 255, 0.8);
}
section.svelte-20kuyz .step-foreground.svelte-20kuyz p:last-child {
  margin-bottom: 0;
}
div.embedded-foreground.svelte-kywsd6 p:last-child {
  margin-bottom: 0;
}
.scroller-container.svelte-5wwrxt.svelte-5wwrxt {
  margin-bottom: 5rem;
  width: calc(100% + 30px);
  margin-left: -15px;
  max-width: initial;
}
.scroller-container.embedded.svelte-5wwrxt.svelte-5wwrxt {
  padding: 0 15px;
}
div.background.svelte-5wwrxt.svelte-5wwrxt {
  min-height: 100vh;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
}
div.background.left.svelte-5wwrxt.svelte-5wwrxt {
  width: 50%;
  float: left;
}
@media (max-width: 1200px) {
  div.background.left.svelte-5wwrxt.svelte-5wwrxt {
    justify-content: center;
    width: 100%;
    float: initial;
  }
}
div.background.right.svelte-5wwrxt.svelte-5wwrxt {
  width: 50%;
  float: right;
}
@media (max-width: 1200px) {
  div.background.right.svelte-5wwrxt.svelte-5wwrxt {
    justify-content: center;
    width: 100%;
    float: initial;
  }
}
div.background.svelte-5wwrxt div.scroller-graphic-well.svelte-5wwrxt {
  padding: 0 15px;
  width: 100%;
}
div.background.svelte-5wwrxt
  div.scroller-graphic-well
  section.graphic.background-container.svelte-5wwrxt {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
div.background.svelte-5wwrxt
  div.scroller-graphic-well
  section.graphic.background-container.fluid.svelte-5wwrxt {
  margin: 0 0 0 -15px;
}
div.foreground.svelte-5wwrxt.svelte-5wwrxt {
  width: 100%;
}
div.foreground.right.svelte-5wwrxt.svelte-5wwrxt {
  width: 50%;
  float: right;
}
@media (max-width: 1200px) {
  div.foreground.right.svelte-5wwrxt.svelte-5wwrxt {
    width: 100%;
    float: initial;
  }
}
div.foreground.left.svelte-5wwrxt.svelte-5wwrxt {
  width: 50%;
  float: left;
}
@media (max-width: 1200px) {
  div.foreground.left.svelte-5wwrxt.svelte-5wwrxt {
    width: 100%;
    float: initial;
  }
}
div.background.svelte-e2e2s9 {
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
}
nav.svelte-ca3v86 {
  margin-bottom: 3rem;
}
pre[class*='language-'],
code[class*='language-'] {
  color: #5c6e74;
  font-size: 13px;
  text-shadow: none;
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  box-shadow: none;
}
pre[class*='language-']::selection,
code[class*='language-']::selection,
pre[class*='language-']::mozselection,
code[class*='language-']::mozselection {
  text-shadow: none;
  background: #b3d4fc;
}
@media print {
  pre[class*='language-'],
  code[class*='language-'] {
    text-shadow: none;
  }
}
pre[class*='language-'] {
  padding: 1em 1.5em;
  margin: 3em auto;
  overflow: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 700px;
}
:not(pre) > code[class*='language-'] {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  color: #db4c69;
  background: #f9f2f4;
}
.namespace {
  opacity: 0.7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #93a1a1;
}
.token.punctuation {
  color: #999;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: #ffffff;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}
.token.function {
  color: #dd4a68;
}
.token.regex,
.token.important,
.token.variable {
  color: #e90;
}
.token.important,
.token.bold {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
pre[data-line] {
  position: relative;
}
pre[class*='language-'] > code[class*='language-'] {
  position: relative;
  z-index: 1;
}
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #eeeeee;
  box-shadow: inset 5px 0 #bbb;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
body {
  background-color: #eee;
}
div#overlay.svelte-253v2x.svelte-253v2x {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
nav.svelte-253v2x.svelte-253v2x {
  background-color: #333;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
  position: fixed;
  top: 0px;
  left: -200px;
  width: 200px;
  transition: all 0.25s;
  z-index: 99999999999;
}
nav.open.svelte-253v2x.svelte-253v2x {
  left: 0;
}
nav.open.svelte-253v2x div.nav-container button.svelte-253v2x {
  transform: rotate(90deg);
  right: -25px;
  color: #999;
}
nav.open.svelte-253v2x div.nav-container button.svelte-253v2x:hover {
  right: -40px;
}
nav.svelte-253v2x div.nav-container.svelte-253v2x {
  position: relative;
  padding: 20px 30px 10px 10px;
  height: 100vh;
}
nav.svelte-253v2x div.nav-container button.svelte-253v2x {
  transform: rotate(0);
  transition: all 0.5s;
  position: absolute;
  right: -28px;
  top: 59px;
  font-size: 3rem;
  border: 0px;
  padding: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  border-radius: 50%;
  background: transparent;
  color: #ccc;
}
nav.svelte-253v2x div.nav-container button.svelte-253v2x:hover {
  right: -50px;
  color: #999;
}
nav.svelte-253v2x ul.svelte-253v2x {
  margin: 0;
  list-style-type: none;
  padding: 0;
  font-family: Knowledge, Source Sans Pro, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
}
nav.svelte-253v2x ul a.svelte-253v2x {
  color: #ccc;
  text-decoration: none !important;
}
nav.svelte-253v2x ul hr.svelte-253v2x {
  border-top: 1px solid #999;
}
nav.svelte-253v2x ul li.svelte-253v2x {
  transition: all 0.4s;
}
nav.svelte-253v2x ul li.svelte-253v2x:hover {
  padding-left: 10px;
}
nav.svelte-253v2x ul li.stationary.svelte-253v2x:hover {
  padding-left: 0;
}
