#g-step-2-box.svelte-ldx4oz.svelte-ldx4oz,
#g-step-2-box.svelte-ldx4oz .g-artboard.svelte-ldx4oz {
  margin: 0 auto;
}
#g-step-2-box.svelte-ldx4oz p.svelte-ldx4oz {
  margin: 0;
}
#g-step-2-box.svelte-ldx4oz .g-aiAbs.svelte-ldx4oz {
  position: absolute;
}
#g-step-2-box.svelte-ldx4oz .g-aiImg.svelte-ldx4oz {
  position: absolute;
  top: 0;
  display: block;
  width: 100% !important;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
#g-step-2-box.svelte-ldx4oz .g-aiPointText p.svelte-ldx4oz {
  white-space: nowrap;
}
#g-step-2-xl.svelte-ldx4oz.svelte-ldx4oz {
  position: relative;
  overflow: hidden;
}
#g-step-2-xl.svelte-ldx4oz p.svelte-ldx4oz {
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
  height: auto;
  opacity: 1;
  letter-spacing: 0em;
  font-size: 18px;
  text-align: left;
  color: #000;
  text-transform: none;
  padding-bottom: 0;
  padding-top: 0;
  mix-blend-mode: normal;
  font-style: normal;
  position: static;
}
#g-step-2-xl.svelte-ldx4oz .g-pstyle0.svelte-ldx4oz {
  height: 20px;
}
#g-step-2-lg.svelte-ldx4oz.svelte-ldx4oz {
  position: relative;
  overflow: hidden;
}
#g-step-2-lg.svelte-ldx4oz p.svelte-ldx4oz {
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
  height: auto;
  opacity: 1;
  letter-spacing: 0em;
  font-size: 16px;
  text-align: left;
  color: #000;
  text-transform: none;
  padding-bottom: 0;
  padding-top: 0;
  mix-blend-mode: normal;
  font-style: normal;
  position: static;
}
#g-step-2-lg.svelte-ldx4oz .g-pstyle0.svelte-ldx4oz {
  height: 20px;
}
#g-step-2-md.svelte-ldx4oz.svelte-ldx4oz {
  position: relative;
  overflow: hidden;
}
#g-step-2-md.svelte-ldx4oz p.svelte-ldx4oz {
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
  height: auto;
  opacity: 1;
  letter-spacing: 0em;
  font-size: 16px;
  text-align: left;
  color: #000;
  text-transform: none;
  padding-bottom: 0;
  padding-top: 0;
  mix-blend-mode: normal;
  font-style: normal;
  position: static;
}
#g-step-2-md.svelte-ldx4oz .g-pstyle0.svelte-ldx4oz {
  height: 20px;
}
#g-step-2-sm.svelte-ldx4oz.svelte-ldx4oz {
  position: relative;
  overflow: hidden;
}
#g-step-2-sm.svelte-ldx4oz p.svelte-ldx4oz {
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
  height: auto;
  opacity: 1;
  letter-spacing: 0em;
  font-size: 16px;
  text-align: left;
  color: #000;
  text-transform: none;
  padding-bottom: 0;
  padding-top: 0;
  mix-blend-mode: normal;
  font-style: normal;
  position: static;
}
#g-step-2-sm.svelte-ldx4oz .g-pstyle0.svelte-ldx4oz {
  height: 20px;
}
#g-step-2-xs.svelte-ldx4oz.svelte-ldx4oz {
  position: relative;
  overflow: hidden;
}
#g-step-2-xs.svelte-ldx4oz p.svelte-ldx4oz {
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 20px;
  height: auto;
  opacity: 1;
  letter-spacing: 0em;
  font-size: 16px;
  text-align: left;
  color: #000;
  text-transform: none;
  padding-bottom: 0;
  padding-top: 0;
  mix-blend-mode: normal;
  font-style: normal;
  position: static;
}
#g-step-2-xs.svelte-ldx4oz .g-pstyle0.svelte-ldx4oz {
  height: 20px;
}
